<menu-s-component></menu-s-component>
<div [ngClass]="open ? opened : closed">
  <div class="row menu-area">
    <mat-icon class="menu-icon" (click)="changeOpt()"	>reorder</mat-icon>
  </div>

  <div class="col-md-12 data-area">
    <div class="info-area">
      <h2>Professores</h2>
      <div class="row">
        <div class="input-group" style="width: 90%; margin-left: 15px; margin-bottom: 10px;">
          <input class="form-control" placeholder="Buscar..." name="dp"  ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">
              <mat-icon style="vertical-align: middle;">search</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-cons"(click)="goNew()" style="margin-bottom: 10px;">Cadastrar</button>
    </div>
    <div class="row" style="height: 100%;">
      <div class="teste2">
        <table class="table tabela">
          <thead>
          <tr style="background-color: #374046; color:white;">
            <th scope="col">Nome</th>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;" >Matricula</th>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;">Email</th>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;">Telefone</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let professor of professores; let i = index" (click)="setClickedRow(i)" [class.active]="i == selectedRow">
            <td scope="row">{{professor.st_nome_professor}}</td>
            <td class="glyphicon-center-3" style="text-align: center;">{{professor.id_professor}}</td>
            <td class="glyphicon-center-3" style="text-align: center;">{{professor.co_email}}</td>
            <td class="glyphicon-center-3" style="text-align: center;">{{professor.co_telefone}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-1">
        <button class="btn btn-lg btn-outline-primary buttons" [disabled]="(selectedRow<0)" (click)="goView()"><mat-icon>visibility</mat-icon></button><br>
        <button class="btn btn-lg btn-outline-success buttons" [disabled]="(selectedRow<0)" (click)="goEdit()"><mat-icon>create</mat-icon></button><br>
        <button class="btn btn-lg btn-outline-danger buttons"  [disabled]="(selectedRow<0)" (click)="goDelete()"><mat-icon>delete</mat-icon></button>
      </div>
    </div>
  </div>
</div>
