<menup-component></menup-component>
<div [ngClass]="open ? opened : closed">
  <div class="row menu">
    <mat-icon class="md-48" (click)="changeOpt()"	>reorder</mat-icon>
  </div>
  <div class="row disciplina-titulos">
    <div class=" col-md-3">
      <div class="title">
        <h2>Disciplina</h2>
      </div>
    </div>
    <div class="col-md-7">
      <div class="title">
        <h2>Atividades Avaliativas</h2>
      </div>
    </div>
    <div class="col-md-2">
      <div class="title">
        <h2>Funções</h2>
      </div>
    </div>
  </div>
  <div class="row disciplina-info">
    <div class=" col-md-3 info-disciplina">
      <h2>{{disciplina.st_nome}}</h2>
      <hr>
      <h3>Professor: {{disciplina.st_nome_prof}}</h3>
      <h3>Carga Horaria: {{disciplina.nu_carga_horaria}} horas</h3>
      <h3>Status: Em andamento</h3>
    </div>

    <div class="col-md-7 notas style-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Atividade</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;" >Valor</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Data</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Editar</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Deletar</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Notas</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let atividade of atividades; let i = index">
            <td scope="row">{{atividade.st_nome_atividade}}</td>
            <td class="glyphicon-center-3" >{{atividade.nu_valor_atividade}}</td>
            <td class="glyphicon-center-3" >{{atividade.dt_data}}</td>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;" (click)="setAtividade(i,4);openModal(4);openM(content)"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon (click)="deleteAtividade(atividade.id_atividade)" style="cursor: pointer;">delete</mat-icon></th>
            <th scope="col" class="glyphicon-center-3" style="text-align: center;" (click)="setAtividade(i,6);openModal(6);openM(content); setNotas();"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2">
      <button class="btn btn-lg btn-outline-dark col-md-12 " style="height: 33%;" (click)="openModal(1);openM(content)"><mat-icon class="buttons">assignment</mat-icon> Presença </button><br>
      <button class="btn btn-lg btn-outline-dark col-md-12 " style="height: 33%;" (click)="openModal(2);openM(content)"><mat-icon class="buttons">create</mat-icon> Criar avaliação</button><br>
      <button class="btn btn-lg btn-outline-dark col-md-12 " style="height: 33%;" (click)="openModal(3);openM(content)"><mat-icon class="buttons">cloud_upload</mat-icon> Enviar material</button><br>

    </div>
  </div>

  <div class="row disciplina-data">
    <div class="col-md-6">
      <div class="row title">
        <h2>Material</h2>
      </div>
      <div class="table-area style-3">
        <table class="table tabela ">
          <thead>
          <tr>
            <th scope="col" style="width: 40%">Arquivo</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Tamanho</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Remover</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Download</th>
          </tr>
          </thead>
          <tbody class="body-table">
          <tr *ngFor="let arquivo of arquivos;"  >
            <td scope="row">{{arquivo.st_nome_arquivo}}</td>
            <td class="glyphicon-center-3" >{{(arquivo.nu_tamanho_arquivo/1024)/1024 | number: '1.2-2'}} mb</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver" (click)="deleteArquivo(arquivo.id_arquivo)">delete</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver" (click)="openUrl(arquivo.url_arquivo)">file_download</mat-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row title">
        <h2>Entregas</h2>
      </div>
      <div class="table-area style-3">
        <table class="table tabela ">
          <thead>
          <tr>
            <th scope="col" style="width: 40%">Atividade</th>
            <th scope="col" style="width: 10%;" class="glyphicon-center-3 table-align">Valor</th>
            <th scope="col" style="width: 10%;" class="glyphicon-center-3 table-align">Data</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Entregas</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Remover</th>
          </tr>
          </thead>
          <tbody class="body-table">
          <tr *ngFor="let atividade of atividades; let k = index"  >
            <td *ngIf="atividade.bo_tipo_atividade" scope="row">{{atividade.st_nome_atividade}}</td>
            <td *ngIf="atividade.bo_tipo_atividade" class="glyphicon-center-3" >{{atividade.nu_valor_atividade}}</td>
            <td *ngIf="atividade.bo_tipo_atividade" class="glyphicon-center-3" >{{atividade.dt_data}}</td>
            <td *ngIf="atividade.bo_tipo_atividade" class="glyphicon-center-3"><mat-icon class="mouse-houver" (click)="setAtividade(k,5);openModal(5);openM(content)">done</mat-icon></td>
            <td *ngIf="atividade.bo_tipo_atividade" class="glyphicon-center-3"><mat-icon class="mouse-houver" (click)="deleteAtividade(atividade.id_atividade)" >delete</mat-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="opc===1" class="modal-title">Realizar Chamada</h4>
    <h4 *ngIf="opc===2" class="modal-title">Cadastrar Atividade</h4>
    <h4 *ngIf="opc===3" class="modal-title">Enviar Material</h4>
    <h4 *ngIf="opc===4" class="modal-title">Editar Atividade</h4>
    <h4 *ngIf="opc===5" class="modal-title">Entregas Efetuadas</h4>
    <h4 *ngIf="opc===6" class="modal-title">Postar Notas</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 80%; overflow-y: auto;">
    <div *ngIf="opc===1">
      Selecione os alunos que faltaram
      <table class="table tabela" style="margin-top: 10px;">
        <thead>
          <tr style="background-color: #374046; color:white;">
            <th scope="col" style="width:75%;" class="glyphicon-center-3"  >Nome Aluno</th>
            <th scope="col" style="width:25%;" class="glyphicon-center-3"  >Faltas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of alunos; let j = index" >
            <td class="glyphicon-center-3">{{a.st_nome_aluno}}</td>
            <td class="glyphicon-center-3" (click)="changeFalta(j)"><input type="checkbox"/></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="opc===2 || opc===4">
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">account_circle</mat-icon>
          </button>
        </div>
        <input class="form-control" name="st_nome_atividade" #st_nome_atividade = "ngModel" [(ngModel)]="atividade.st_nome_atividade"  [disabled]="opc===4" placeholder="Digite o nome..." >
      </div>
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">create</mat-icon>
          </button>
        </div>
        <input class="form-control" [disabled]="disabledEdit" name="nu_valor_atividade" #nu_valor_atividade = "ngModel" [(ngModel)]="atividade.nu_valor_atividade" type="number" placeholder="Valor..."  >
      </div>
      <div style="padding-bottom: 10px;" class="form-check">
        <input type="checkbox"  name="bo_tipo_atividade" #bo_tipo_atividade = "ngModel" [(ngModel)]="atividade.bo_tipo_atividade" [disabled]="opc===4" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Entrega</label>
      </div>
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">date_range</mat-icon>
          </button>
        </div>
        <input class="form-control" name="dt_data" #dt_data = "ngModel" [(ngModel)]="atividade.dt_data"  type="date" placeholder="dd/mm/aaaa" >
      </div>
    </div>
    <div *ngIf="opc===3">
      <div style="padding-bottom: 10px;" class="input-group">
        <input type="file" id="imagem-input" (change)="selectFile($event)"/>
      </div>
    </div>
    <div *ngIf="opc===5">
      Baixar arquivos
      <table class="table tabela" style="margin-top: 10px;">
        <thead>
        <tr style="background-color: #374046; color:white;">
          <th scope="col" style="width:75%;" class="glyphicon-center-3"  >Nome Aluno</th>
          <th scope="col" style="width:25%;" class="glyphicon-center-3"  >Download</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let e of entregas; " >
          <td class="glyphicon-center-3">{{e.nome}}</td>
          <td class="glyphicon-center-3" (click)="openUrl(e.url)"><mat-icon>file_download</mat-icon></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="opc===6">
      Atividade: {{this.atividade.st_nome_atividade}}<br>
      Valor: {{this.atividade.nu_valor_atividade}} pts
      <table class="table tabela" style="margin-top: 10px;">
        <thead>
        <tr style="background-color: #374046; color:white;">
          <th scope="col" style="width:75%;" class="glyphicon-center-3"  >Nome Aluno</th>
          <th scope="col" style="width:25%;" class="glyphicon-center-3"  >Notas</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let nota of notas; " >
          <td class="glyphicon-center-3">{{nota.nomeAluno}}</td>
          <td class="glyphicon-center-3"><input class="form-control" type="number"  #notas = "ngModel" [(ngModel)]="nota.nota" placeholder="Nota" name="nota" ></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="opc ===1" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Concluir</button>
    <button *ngIf="opc ===2 || opc === 4 || opc === 6" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Inserir</button>
    <button *ngIf="opc ===3" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Enviar</button>
    <button *ngIf="opc ===5" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Fechar</button>
  </div>
</ng-template>

