<menup-component></menup-component>
<div [ngClass]="open ? opened : closed">
  <div class="row menu">
    <mat-icon class="md-48" (click)="changeOpt()"	>reorder</mat-icon>
  </div>
  <div class="row disciplina-titulos">
    <div class=" col-md-3">
      <div class="title">
        <h2>Disciplina</h2>
      </div>
    </div>
    <div class="col-md-7">
      <div class="title">
        <h2>Atividades Avaliativas</h2>
      </div>
    </div>
    <div class="col-md-2">
      <div class="title">
        <h2>Funções</h2>
      </div>
    </div>
  </div>
  <div class="row disciplina-info">
    <div class=" col-md-3 info-disciplina">
      <h2>{{disciplina.st_nome}}</h2>
      <hr>
      <h3>Professor: {{disciplina.st_nome_prof}}</h3>
      <h3>Carga Horaria: {{disciplina.nu_carga_horaria}} horas</h3>
      <h3>Status: Em andamento</h3>
    </div>

    <div class="col-md-7 notas style-3">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Atividade</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;" >Valor</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Data</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Editar</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Deletar</th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;">Notas</th>
        </tr>
        </thead>
        <tbody>
        <tr>

          <th scope="row">Avaliação 1</th>
          <td class="glyphicon-center-3" >20.0</td>
          <td class="glyphicon-center-3" >24/09</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Avaliação 2</th>
          <td class="glyphicon-center-3" >20.0</td>
          <td class="glyphicon-center-3" >01/10</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Avaliação 3</th>
          <td class="glyphicon-center-3" >20.0</td>
          <td class="glyphicon-center-3" >12/11</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Lista 1</th>
          <td class="glyphicon-center-3" >5.0</td>
          <td class="glyphicon-center-3" >12/09</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Lista 2</th>
          <td class="glyphicon-center-3" >5.0</td>
          <td class="glyphicon-center-3" >28/09</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Trabalho 1</th>
          <td class="glyphicon-center-3" >15.0</td>
          <td class="glyphicon-center-3" >19/10</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        <tr>
          <th scope="row">Trabalho 2</th>
          <td class="glyphicon-center-3" >15.0</td>
          <td class="glyphicon-center-3" >06/12</td>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">mode_edit</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">delete</mat-icon></th>
          <th scope="col" class="glyphicon-center-3" style="text-align: center;"><mat-icon style="cursor: pointer;">border_color</mat-icon></th>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2 buttom-area">
      <div class="text-center button-disciplina button-border" (click)="openModal(1);openM(content)">
        <h2>Realizar Chamada</h2>
      </div>
      <div class="text-center button-disciplina button-border" (click)="openModal(2);openM(content)">
        <h2>Criar Avaliação</h2>
      </div>
      <div class="text-center button-disciplina button-border" (click)="openModal(3);openM(content)">
        <h2>Enviar Material</h2>
      </div>
      <div class="text-center button-disciplina">
        <h2>Enviar Email</h2>
      </div>
    </div>
  </div>

  <div class="row disciplina-data">
    <div class="col-md-6">
      <div class="row title">
        <h2>Material</h2>
      </div>
      <div class="table-area style-3">
        <table class="table tabela ">
          <thead>
          <tr>
            <th scope="col" style="width: 40%">Arquivo</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Tamanho</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Remover</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Download</th>
          </tr>
          </thead>
          <tbody class="body-table">
          <tr>
            <th scope="row">tabalho.pdf</th>
            <td class="glyphicon-center-3">0.24 mb</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">file_download</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">lista_1.pdf</th>
            <td class="glyphicon-center-3">0.43 mb</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">file_download</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">slide_web_das_coisas.pdf</th>
            <td class="glyphicon-center-3">1.2 mb</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">file_download</mat-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row title">
        <h2>Entregas</h2>
      </div>

      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Enviar - Trabalho 1</h4>
        </div>
        <div class="modal-body">
          <span style="font-weight: bold;">Valor:</span> 15 Pontos
          <br>
          <span style="font-weight: bold;">Data Final da Entrega:</span> 19/10
          <br>
          <br>
          <div class="input-group">
            <input class="form-control" placeholder="Nome do arquivo..."
                   name="dp" >
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"  type="button">
                ...
              </button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c(false)">Cancelar</button>
          <button type="button" class="btn btn-outline-dark" (click)="c(true)">Enviar</button>
        </div>
      </ng-template>

      <div class="table-area style-3">
        <table class="table tabela ">
          <thead>
          <tr>
            <th scope="col" style="width: 40%">Atividade</th>
            <th scope="col" style="width: 10%;" class="glyphicon-center-3 table-align">Valor</th>
            <th scope="col" style="width: 10%;" class="glyphicon-center-3 table-align">Data</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Editar</th>
            <th scope="col" style="width: 20%;" class="glyphicon-center-3 table-align">Remover</th>
          </tr>
          </thead>
          <tbody class="body-table">
          <tr>
            <th scope="row">Trabalho 1</th>
            <td class="glyphicon-center-3">15.0</td>
            <td class="glyphicon-center-3">19/10</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">mode_edit</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Lista 1</th>
            <td class="glyphicon-center-3">5.0</td>
            <td class="glyphicon-center-3">12/09</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">mode_edit</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
          </tr>
          <tr>
            <th scope="row">Lista 2</th>
            <td class="glyphicon-center-3">5.0</td>
            <td class="glyphicon-center-3">28/09</td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">mode_edit</mat-icon></td>
            <td class="glyphicon-center-3"><mat-icon class="mouse-houver">delete</mat-icon></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 *ngIf="opc===1" class="modal-title">Realizar Chamada</h4>
    <h4 *ngIf="opc===2" class="modal-title">Cadastrar Atividade</h4>
    <h4 *ngIf="opc===3" class="modal-title">Enviar Material</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="max-height: 80%; overflow-y: auto;">
    <div *ngIf="opc===1">

    </div>
    <div *ngIf="opc===2">
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">account_circle</mat-icon>
          </button>
        </div>
        <input class="form-control" name="st_nome_atividade" #st_nome_atividade = "ngModel" [(ngModel)]="atividade.st_nome_atividade"  placeholder="Digite o nome..." name="nome" >
      </div>
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">create</mat-icon>
          </button>
        </div>
        <input class="form-control" [disabled]="disabledEdit" name="nu_valor_atividade" #nu_valor_atividade = "ngModel" [(ngModel)]="atividade.nu_valor_atividade" type="number" placeholder="Valor..." name="nome" >
      </div>
      <div style="padding-bottom: 10px;" class="form-check">
        <input type="checkbox"  name="bo_tipo_atividade" #bo_tipo_atividade = "ngModel" [(ngModel)]="atividade.bo_tipo_atividade" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Entrega</label>
      </div>
      <div style="padding-bottom: 10px;" class="input-group">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" disabled type="button">
            <mat-icon style="vertical-align: middle;">date_range</mat-icon>
          </button>
        </div>
        <input class="form-control" name="dt_data" #dt_data = "ngModel" [(ngModel)]="atividade.dt_data"  type="date" placeholder="dd/mm/aaaa" name="dp" >
      </div>
    </div>
    <div *ngIf="opc===3">
      <div style="padding-bottom: 10px;" class="input-group">
        <input type="file" id="imagem-input" (change)="selectFile($event)"/>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button *ngIf="opc ===2" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Inserir</button>
    <button *ngIf="opc ===3" type="button" class="btn btn-outline-primary" (click)="c('Close click')">Enviar</button>
  </div>
</ng-template>
