<menua-component></menua-component>
<div [ngClass]="open ? opened : closed">
  <div class="row menu-area">
    <mat-icon class="menu-icon" (click)="changeOpt()"	>reorder</mat-icon>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4">
          <img src={{aluno.url_img_aluno}} class="user-img" alt="">
        </div>
        <div class="col-md-6 student-info">
          <h2>{{aluno.st_nome_aluno}}</h2>
          <h3>Codigo: {{aluno.dc_cpf}}</h3>
          <h4>Email: {{aluno.co_email}}</h4>
        </div>
      </div>
      <hr>
      <div class="row">

      </div>
    </div>

    <div class="col-md-6 disciplina-style" id="scroll-style">
      <disciplina-perfil-a *ngFor="let item of materias"
                           [codigo]    ="item.id_disciplina"
                           [nome]      ="item.st_nome"
                           [idProf]    ="item.id_professor"
                           [professor] ="item.st_nome_prof"
                           [proxProva] ="item.dt_next_prova"
                           [img]       ="item.url_img"
                           [falta]     ="item.nu_faltas"
                           [nota]      ="item.nu_nota"
                           [idAluno]   ="item.id_aluno"
                           [cargaH]    ="item.nu_carga_horaria">
      </disciplina-perfil-a>
    </div>
  </div>
</div>
